@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Poppins:ital,wght@0,200;1,100&display=swap');

* {
 margin: 0;
 padding: 0;
}

.logo {
 width: 20%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.logo img {
 width: 30%;
 border-radius: 10px;
 margin: 5px;
}

.navbar {
 display: flex;
 align-items: center;
 position: sticky;
 top: 0px;
 justify-content: center;
 cursor: pointer;
 background-color: rgb(99, 97, 97);
}

.navlist {
 width: 70%;
 display: flex;
 align-items: center
}

.navlist li {
 list-style: none;
 padding: 20px 20px;
}

.navlist li a {
 text-decoration: none;
 color: rgb(11, 10, 10);
 font-size: 18px;
 font-family: 'Lato', sans-serif;
}

.navlist li a:hover {
 color: rgb(64, 54, 54);
}

.fa-brands {
 font-size: 30px;
 color: rgb(42, 33, 33);
}

.images {
 width: 100%;

}

.firstHalf {
 width: 80%;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.firstHalf h1 {
 font-family: 'Lato', sans-serif;
}

.secondHalf {
 margin: 20px;
 padding: 18px;
 text-align: center;
 margin: 30px;
 color: rgb(184, 135, 102);
}

.text-small {
 margin: 12px;
 color: rgb(184, 135, 102);
 font-size: 34px;
 font-family: 'Lato', sans-serif;

}

.text-big {
 margin: 16px;
 color: rgb(37, 35, 33);
 font-size: 25px;
 font-family: 'Lato', sans-serif;
}

.section {
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 max-width: 80%;
 margin: auto;
 font-family: 'Lato', sans-serif;
 padding: 10px;
}



.parsa h2 {
 padding: 0px 52px;
}

.thumnail img {
 width: 230px;
 border: 2px solid black;
 border-radius: 26px;
 margin-top: 17px;
}

.parsa h2 {
 font-size: 30px;
}

.sectiontag {
 font-size: 30px;
}



.half h3 {
 text-align: center;
 font-size: 34px;
 margin: 33px;
}

.cantanier {
 text-align: center;
 margin: 6px;
 font-family: 'Lato', sans-serif;
}

.cantanier img {
 width: 260px;
 border: 2px solid black;
 border-radius: 26px;
 margin: 20px;
}

.content {
 margin: 20px 18px;
 text-align: center;
 width: 360px;
 height: 240px;
}

.Frist {
 width: 100%;
}